*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body{
    font-family: Arial, Helvetica, sans-serif;
}
.card-container{
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(250px , 1fr));  
    gap: 1rem;
    max-width: 1200px;
    margin: 0 auto;
}
.card{
    border: 1px solid black;
    padding: 1rem;
    border-radius: 1rem;
    transition: all 0.3s ease-in-out;
}
.card img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 1rem;
}
